@import '../../styles/globals.scss';

.entry-container {
    margin-top: $header-height;
}

.entry-content {
    display: flex;
    flex-direction: column;

    margin: 2vh 2em 0 2em;
    padding: 1em;

    color: $entry-font-color;

    .icon {
        margin: 0 auto;
        color: $preview-summary-color;

        a {
            color: $preview-summary-color;
        }

        &.edit {
            color: $entry-font-color;
            margin-top: 15px;
        }
    }

    .title {
        font-size: $entry-title-size;
        margin-top: 10vh;
        margin-bottom: 1em;
    }

    .body {
        font-size: $entry-body-size;
        font-weight: 300;
        max-height: 50vh;

        padding-right: 3em;

        overflow-y: scroll;
    }
}

@media screen and (max-width: $break-small) {
    .entry-content {
        margin-top: 0.8vh;
        .title {
            font-size: 3.5vh;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        .body {
            font-size: 2vh;
        }
    }
}

@media screen and (max-width: $break-large) {
    .entry-content {
        margin-top: 0.8vh;
        .title {
            font-size: 3.5vh;
            margin-top: 5vh;
            margin-bottom: 1em;
        }
        .body {
            font-size: 2vh;
        }
    }
}
