@import '../../styles/globals.scss';

.navbar {
    width: 100%;
    height: $header-height;
    background-color: $header-color;
    color: $header-font-color;
    position: fixed;

    a {
        color: $header-font-color;
    }

    h1 {
        margin-top: 0.5rem;
        font-size: $header-font-size;
    }
}