@import '../../styles/globals.scss';

.entry-preview {
    padding: 5px;
    height: 37vh;
    max-height: 350px;
    position: relative;
    margin: 0 20px;
}

.date {
    white-space: pre-line;
    opacity: 0.15;

    font-size: 8.5vh;

    //font-size: 5.5vw;
    font-weight: bold;
    color: $preview-date-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 350px;
}

.summary {
    position: absolute;
    display: table;

    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    max-height: 350px;

    word-wrap: break-word;
    font-size: 1em;
    font-weight: bold;
    color: $preview-summary-color;

    span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

@media screen and (max-width: $break-small) {
    .date {
        font-size: 10vh;
    }
    .summary {
        font-size: 1.1em;
    }
}

@media screen and (min-width: $break-middle) {
    .entry-preview {
    }
    .date {
        font-size: 8.5vh;
    }
    .summary {
        font-size: 0.8em;
    }
}

@media screen and (min-width: $break-large) {
    .entry-preview {
    }
    .summary {
        font-size: 1em;
    }
}

@media screen and (min-width: $break-huge) {
    .entry-preview {
    }
    .summary {
        font-size: 1.2em;
    }
}
