// Font Colors
$header-font-color: #EAF0F0;
$entry-font-color: #ECEBF0;
$preview-font-color: #1C2427;
$preview-date-color: #B5BABB;

// Component colors
$header-color: #95A3A4;
$chevron-preview-color: #4A6050;

// Font sizes
$header-font-size: 27px;

// Dimensions
$header-height: 69px;

.container {
    padding: 0 1em;
}